<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>( ͡° ͜ʖ ͡°) Czy godzina jest papieska? ( ͡° ͜ʖ ͡°)</title>
</head>
<body style="background-color:pink;">
<h1 style="text-align:center;"> ( ͡° ͜ʖ ͡°) Sprawdź czy godzina jest papieska ( ͡° ͜ʖ ͡°)</h1>
<h2 style="text-align:center;"> Obecnie jest godzina <span th:text="${actualTime}"></span>.</h2>
<h2 style="text-align:center;"> <span th:text="${score}"></span></h2>
<h2 style="text-align:center;"> <span th:text="${howMuchLeft}"></span></h2>
<div id="foto" style="text-align: center;">
<img src="../static/gifs/zly.gif" th:src="@{gifs/zly.gif}"/>
</div>
<section style="position: absolute; bottom: 5px; right: 25px;">
    <p>
        Sprawdź inne moje projekty
        <a href="https://github.com/KamilRogala25"
           target="_blank" title="Like My Page!">
            github.com/KamilRogala25
        </a>
    </p>
</section>
</body>
</html>