<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60">
    <title>( ͡° ͜ʖ ͡°) Czy godzina jest papieska? ( ͡° ͜ʖ ͡°)</title>
    <link rel="stylesheet" href="../static/css/background.css" th:href="@{css/background.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript">
            setInterval("my_function();",5000);
        function my_function(){
            $('#refresh').load(location.href + ' #time');
        }
    </script>
</head>
<body class="background">

<div id="refresh">
<h1 style="text-align:center;"> ( ͡° ͜ʖ ͡°) Sprawdź czy godzina jest papieska ( ͡° ͜ʖ ͡°)</h1>
<h2 style="text-align:center;"> Obecnie jest godzina <span th:text="${actualTime}"></span>.</h2>
<h2 style="text-align:center;"> <span th:text="${score}"></span></h2>
<h2 style="text-align:center;"> <span th:text="${howMuchLeft}"></span></h2>
</div>
<div id="foto" style="text-align: center;">
<img src="../static/gifs/zly.gif" th:src="@{gifs/zly.gif}" height="650"/>
</div>
<div id="music" style="text-align: center">
    <audio controls="controls" autoplay="autoplay" loop="loop" preload="metadata">
            <source src="../static/music/niepapieska.mp3" th:src="@{music/niepapieska.mp3}" id="my_audio"  type="audio/mpeg">

    </audio>

</div><br>



<section style="position: absolute; bottom: 5px; right: 25px;">
    <p>
        Sprawdź inne moje projekty
        <a href="https://github.com/KamilRogala25"
           target="_blank" title="Like My Page!">
            github.com/KamilRogala25
        </a>
    </p>
</section>
</body>
</html>